<!-- contact -->
<div class="contact" id="contact">
    <div class="w3l-about w3l-team">
        <div class="container">
            <div class="w3ls-heading">
                <h3>Contact</h3>
            </div>
            <div class="agile-contact-grids">
                <div class="col-md-4">
                    <!-- contact info -->
                    <div class="well">
                        <p><i class="fa fa-home"></i> სააკაძის N71</p>
                        <p><i class="fa fa-phone"></i> +1 234 567 8901</p>
                        <p><i class="fa fa-envelope"></i> someone@example.com</p>
                    </div>
                    <!-- //contact info -->
                </div>
                <div class="col-md-8">
                    <!-- map -->
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d366417.1205943117!2d-118.4272152627014!3d34.0091834751898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472444937012" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- //map -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->